{
    "DEFAULT": {
        "ref": "master"
    },
    "provider_id": {
        "auth_type": "Bearer",
        "token": "1234567890",
        "headers": {
            "optional-custom-header": "1.2.3"
        }
    }
}
