{
    "DEFAULT": {
        "_comment": "Global default settings",
        "ref": "master"
    },
    "provider_id_auth_token": {
        "_comment": "Replace \"provider_id_auth_token\" with a Provider's UUID",
        "_comment_provider_uuids": "https://raw.githubusercontent.com/CityOfLosAngeles/mobility-data-specification/master/providers.csv",
        "_comment_authorization": "Authorization token header, e.g. Authorization: <auth_type> <token>",
        "_comment_headers": "The headers field is optional",
        "auth_type": "Bearer",
        "token": "1234567890",
        "mds_api_suffix": "agency_xyz",
        "headers": {
            "optional-custom-header": "1.2.3"
        }
    },
    "provider_id_oauth": {
        "_comment": "Replace \"provider_id_oauth\" with a Provider's UUID",
        "_comment_provider_uuids": "https://raw.githubusercontent.com/CityOfLosAngeles/mobility-data-specification/master/providers.csv",
        "_comment_auth_scope": "One or more (separated by commas) scopes requested as part of this grant flow",
        "_comment_headers": "The headers field is optional",
        "token_url": "...",
        "client_id": "...",
        "client_secret": "...",
        "scope": "...",
        "headers": {
            "optional-custom-header": "1.2.3"
        }
    }
}
